body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Audiowide', cursive;
}

.game {
    width: 525px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}
.game::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
    height: 100%;
    z-index: -1;
  	background: url("img/background.png") repeat-x;
}


.game.play .game__cactus {
    animation: cactusMove 2s infinite linear;
}

.game.play::after {
     animation: backgroundSlide 3.95s infinite linear;
}

.game .game__dino {
    width: 60px;
    height: 60px;
    background: url(img/dino.png) no-repeat;
    position: relative;
}

.game .game__dino.jump {
    animation: jump 0.8s linear;
}

.game .game__cactus {
    background: url(img/cactus.png);
    width: 25px;
    height: 45px;
    background-size: contain;
    position: absolute;
    right: 0;
}

.game .game__stats {
	position: absolute;
    right: 0;
    top: 70px;
    font-size: 13px;
    color: #4e4e4e;
}


@keyframes backgroundSlide {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -525px;
  }
}


@keyframes jump {
    0% {
        top: 0px;
    }

    20% {
        top: -45px;
    }

    40% {
        top: -75px;
    }

    50% {
        top: -90px;
    }

    60% {
        top: -75px
    }

    80% {
        top: -45px
    }

    100% {
        top: 0px;
    }
}

@keyframes cactusMove {
    0% {
        right: 0;
    }

    100% {
        right: 550px;
    }
}